{% extends "encyclopedia/layout.html" %}
{% block title %}
    Create a new Page
{% endblock %}
{% block body %}
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <p style="text-align: right;"><input type="submit" value="Save Entry"></p>
    <br> <label for="{{ form.title.id_for_label }}">Title:</label><br>
    {{ form.title }}

   <p>
        <br> <label for="{{ form.content.id_for_label }}">Using Markdown, Enter information about the entry here</label><br>
        {{ form.content }}
    </p>
</form>
{% endblock %}